<img src="/assets/trollo-white.svg" alt="trollo logo" class="trollo-logo">

<h2 class="form-heading" >Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-item user-email", placeholder: "Email"%>


    <% if @minimum_password_length %>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-item user-password", placeholder: "Password (6 characters minimum)" %>


    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-item user-password-confirm", placeholder: "Password Confirmation"%>

    <%= f.submit "Sign up", class: "form-item user-submit user-signup" %>
<% end %>


<div class="devise-links form-heading">
  <%= render "devise/shared/links" %>
</div>
