<img src="/assets/trollo-white.svg" alt="trollo logo" class="trollo-logo">

<h2 class="form-heading" >Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-item user-email", placeholder: "Email" %>


    <%= f.password_field :password, autocomplete: "current-password", class: "form-item user-password", placeholder: "Password" %>


  <% if devise_mapping.rememberable? %>
    <div class="remember-me-container">
      <%= f.check_box :remember_me, class: "remember-me" %>
      <%= f.label :remember_me %>
    </div>  
  <% end %>


    <%= f.submit "Submit", class: "form-item user-submit" %>

<% end %>

<div class="devise-links form-heading">
  <%= render "devise/shared/links" %>
</div>
