<img src="/assets/trollo-white.svg" alt="trollo logo" class="trollo-form-logo">


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="registration-form-contents">
    <h2 class="form-heading" >Log in</h2>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "r-form-item", placeholder: "Email" %>


    <%= f.password_field :password, autocomplete: "current-password", class: "r-form-item", placeholder: "Password" %>


    <% if devise_mapping.rememberable? %>
      <div class="remember-me-container">
        <%= f.check_box :remember_me, class: "remember-me" %>
        <%= f.label :remember_me %>
      </div>  
    <% end %>


    <%= f.submit "Submit", class: "r-form-item user-submit" %>
    
    <div class="devise-links form-heading">
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>

