

<div class="navbar">
    <div class="navbar__board-items">
        <% if current_user %>
            <% if !@board %>
                <img src="/assets/trollo-white.svg" alt="" class="navbar__logo">
            <% end %>
            <%= link_to "Boards", boards_path(current_user.id) %>
        <% end %>
        <% if @board %>
            <h3 class="board-name" > <%= @board.board %> </h3>
            <p class="board-privacy" style="color: <%= (@board.public)? "#4db6ac" : "#7986cb" %> ;" > <%= (@board.public)? "Public" : "Private" %> </p> 
        <% end %>
    </div>

        <% if @boards %>
                
        <% end %>

    <% if current_user %>
        <div class="navbar__right-items">
            <a class="user-items" href="<%= user_path(current_user.id) %>"> 
                <%= current_user.first_name %> 
                <img src=" <%= current_user.avatar %> " alt="user picture" class="user-avatar">
            </a> 
            <% if @board %>
                <label class="sidebar-checkbox-label" for="sidebar-checkbox">
                    <img class="add-list" src="/assets/plus-line.svg" alt="icon to add new item">
                </label>
            <% end %>
        </div>
    <% end %>

</div>


